<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="elmah-sqlserver"
         connectionString="data source=SERVER;initial catalog=ApplicationLogging;Trusted_Connection=Yes;MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="BaseUrl" value="http://test.com" xdt:Transform="SetAttributes(value)"
         xdt:Locator="Match(key)" />
    <add key="StripeApiKey" value="foo_release" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="StripePublicKey" value="bar_release" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" />
      <error statusCode="404" responseMode="ExecuteURL" path="/Error/404" />
    </httpErrors>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="noreply@paladincloudware.com">
        <network xdt:Transform="Replace" host="smtp.sendgrid.net" port="587"
                 userName="user" password="pass" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>